
input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0.8em 1em;
}

.file-upload {
  padding: 1em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 300ms;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 30%);

  &:hover {
    background-color: darken(#fff, 5%);
  }
  &:active {
    background-color: darken(#fff, 10%);
  }
}